@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    body{
        color: #333;
    }

    h1,h2,h3,h4,h5,h6{@apply font-bold}
    h1{
        @apply text-4xl;
    }
    h2{
        @apply text-3xl;
    }

    h3{
        @apply text-2xl;
    }

    h4{
        @apply text-xl;
    }

    h5{
        @apply text-lg;
    }

    h6{
        @apply text-base;
    }
 /* remove input type number arrow */
 input[type=number]::-webkit-inner-spin-button,
 input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
 }

 input[type=number] {
     -moz-appearance: textfield;
 }
}


@layer components{

 .container{
     @apply mx-auto px-4;
 };


}




/* custom style */

div.slick-slider{
    height: fit-content;
    padding: 0;
}

button.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    width: 50px;
    height: 100%;
    opacity: 0;
}

button.slick-arrow:hover{
    opacity: 1;
}


button.slick-arrow.slick-prev{
    left: 0;
}
button.slick-arrow.slick-next{
    right: 0;
}

ul.slick-dots{
    position: absolute;
    bottom: 5px;
}

ul.slick-dots > li > button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(255,255,255,0.5);
    backdrop-filter: blur(40px);
    border: 2px solid #fff;
}

ul.slick-dots > li > button::before{
    display: none;
}


ul.slick-dots > li.slick-active > button{
    background: #fff;
    border: 2px solid #fff;
}